* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: navy;
  padding: 1% 1%;
}

header h1 {
  color: whitesmoke;
}

/*Styles for search items and search btn*/
.search {
  font-weight: bolder;
  padding: 10px 9px;
}

.city-search {
  margin-left: 10px;
  padding: 10px 59% 10px 10px;
  border-radius: 10px;
}

.search-btn-box {
  margin-top: 20px;
  padding-left: 5px;
}

.searchBtn {
  padding: 10px 48% 10px 43%;
  border-radius: 15px;
  background-color: rgb(89, 138, 228);
  color: white;
  font-weight: bolder;
}

.searchBtnBorder {
  padding-top: 20px;
  margin-left: 1%;
  width: 100%;
}

/*Styles for previous cities and btns*/
.prev-cities-container {
  padding-top: 10px;
}

.prev-city-btn-box {
  padding-bottom: 2.5%;
}

.prev-city-btns {
  padding: 10px 47% 10px 44%;
  background-color: gray;
  color: white;
  border-radius: 15px;
  font-weight: bolder;
}

/*Styles for current weather and 5 day forecast*/
#city-date {
  padding-top: 1%;
  padding-left: 1%;
  font-weight: bold;
}

.curr-weather {
  padding-top: 15px;
}

.cur-text {
  font-size: 30px;
}

.forecast {
  padding-top: 1%;
}

.card {
  background-color: lightblue;
}

.card-body {
  padding-right: 1%;
}

.uv-text {
  font-size: 15px;
  font-weight: bolder;
  color: white;
}
