* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: navy;
  padding: 1% 1%;
}

header h1 {
  color: whitesmoke;
}

.search {
  font-weight: bolder;
  padding: 10px 25px;
}

.city-search {
  margin-left: 10px;
  padding: 10px 10px 10px;
  border-radius: 10px;
}

.search-btn-box {
  margin-left: 0.5%;
  margin-top: 20px;
}

.searchBtn {
  padding-left: 7%;
  padding-right: 8%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  background-color: rgb(89, 138, 228);
  color: white;
  font-weight: bolder;
}

.btnBorder {
  padding-top: 20px;
  margin-left: 1%;
  width: 19%;
}
